.grey{
    background-color: #333333;
}

.orange{
    background-color: #ff7f2a;
}

.yellow{
    background-color: #ffcc00;
}

.black{
    background-color: black;
}

body{
    background-color: #121212;
}

.no-gutter > [class*='col-'] {
    padding: 0;
    margin: 0;
}